<div class="bg-gray-200 border-2 border-gray-200 rounded-lg shadow-sm h-full max-w-md" [ngClass]="{
    'border-green-500 hover:border-green-700': dataLocalizacao !== null,
    'border-red-500 hover:border-red-700': dataLocalizacao === null,
    'flex md:flex-row flex-col md:max-w-full': completo}">
  @if (!completo) {
  <div class="w-full flex items-center justify-center ml-0.5 -m-9">
    <p class="text-4xl w-full text-center rounded-t-md -ml-1 text-gray-800"
      [ngClass]="{'bg-green-500': dataLocalizacao !== null, 'bg-red-500': dataLocalizacao === null}">{{dataLocalizacao
      !== null ? 'Localizado(a)' : 'Desaparecido(a)'}}</p>
  </div>
  }
  @if (desaparecido.urlFoto) {
  <img class="h-80" [src]="desaparecido.urlFoto" alt="" [ngClass]="{'max-w-md': completo, 'w-full': !completo, }" />

  }@else {
  <img class="h-80" src="../../../../../assets/Img/semimagem.gif" alt=""
    [ngClass]="{'max-w-md': completo, 'w-full': !completo, }" />
  }


  <div class="px-5">

    @if (completo) {
    <div class="w-full flex items-center justify-center ml-0.5 -m-9">
      <p class="text-4xl w-full text-center -ml-11 rounded-br-md text-gray-800"
        [ngClass]="{'bg-green-500': dataLocalizacao !== null, 'bg-red-500': dataLocalizacao === null}">{{dataLocalizacao
        !== null ? 'Localizado(a)' : 'Desaparecido(a)'}}</p>
    </div>
    }

    <h5 class="text-2xl font-bold tracking-tight text-gray-900 ">{{desaparecido.nome}}</h5>

    <div class="flex">
      <div class="flex flex-col -mt-6 mr-2">
        <span class="text-gray-800 font-normal text-md">Idade: <strong>{{desaparecido.idade}} anos</strong></span>
        <span class="text-gray-800 font-normal text-md">Vivo: <strong>{{desaparecido.vivo ? 'Sim' :
            'Não'}}</strong></span>
        <span class="text-gray-800 font-normal text-md">Sexo: <strong>{{desaparecido.sexo}}</strong></span>
        <span class="text-gray-800 font-normal text-md">Desaparecido em:
          <strong>{{desaparecido.ultimaOcorrencia.dtDesaparecimento | date: 'dd/MM/YYYY'}}</strong></span>


        @if (completo) {

        @if (dataLocalizacao) {
        <span class="text-gray-800 font-normal text-md">Localizado em: <strong>{{dataLocalizacao | date:
            'dd/MM/YYYY'}}</strong></span>
        }
        <span class="text-gray-800 font-normal text-md">Local de Desaparecimento:
          <strong>{{desaparecido.ultimaOcorrencia.localDesaparecimentoConcat}}</strong></span>

        <span class="text-gray-800 font-normal text-md">Encontrado Vivo:
          <strong>{{desaparecido.ultimaOcorrencia.encontradoVivo ? 'Sim' : 'Não'}}</strong></span>

        <span class="text-gray-800 font-normal text-md">Informação Entrevista:
          <strong>{{desaparecido.ultimaOcorrencia.ocorrenciaEntrevDesapDTO?.informacao || 'Não Informado'}}</strong></span>

        <span class="text-gray-800 font-normal text-md">Vestimento do desaparecido:
          <strong>{{desaparecido.ultimaOcorrencia.ocorrenciaEntrevDesapDTO?.vestimentasDesaparecido || 'Não Informado'}}</strong></span>
        }

      </div>

    </div>

  </div>
  @if (!completo) {
  <div class="mt-2 p-3">
    <button routerLink="{{desaparecido.id}}" type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none cursor-pointer w-full">
      Clique aqui para mais detalhes
    </button>

  </div>
  }

</div>