<div class="tamnho-maximo-tela bg-gray-50">

  <div class="w-full mt-20">

    <fieldset class="border-2 rounded-lg p-5">
      <legend class="font-medium text-md">
        &nbsp; Dados Para Consulta &nbsp;
      </legend>

      <div class="w-full">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="search" id="default-search" [(ngModel)]="nome"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 "
            placeholder="Pesquisar por nome" />
        </div>
      </div>

      <div class="">
        <h3 class="-mb-2 font-semibold text-gray-900">Sexo</h3>
        <ul
          class="items-center text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex list-none">
          <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
            <div class="flex items-center ps-3">
              <input id="horizontal-list-radio-todos" type="radio" value="" [(ngModel)]="sexo" name="sexo"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
              <label for="horizontal-list-radio-todos" class="w-full py-3 mt-1 ms-2 text-sm font-medium text-gray-900 ">Os
                dois</label>
            </div>
          </li>
          <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
            <div class="flex items-center ps-3">
              <input id="horizontal-list-radio-masculino" type="radio" value="MASCULINO" [(ngModel)]="sexo" name="sexo"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
              <label for="horizontal-list-radio-masculino"
                class="w-full py-3 mt-1 ms-2 text-sm font-medium text-gray-900 ">MASCULINO</label>
            </div>
          </li>
          <li class="w-full ">
            <div class="flex items-center ps-3">
              <input id="horizontal-list-radio-feminino" type="radio" [(ngModel)]="sexo" value="FEMININO" name="sexo"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
              <label for="horizontal-list-radio-feminino"
                class="w-full py-3 mt-1 ms-2 text-sm font-medium text-gray-900 ">FEMININO</label>
            </div>
          </li>
        </ul>
      </div>
      <div class="">
        <h3 class="-mb-2 font-semibold text-gray-900">Status</h3>
        <ul
          class="items-center text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex list-none">

          <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
            <div class="flex items-center ps-3">
              <input id="horizontal-list-radio-todos" type="radio" value="" [(ngModel)]="status" name="status"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
              <label for="horizontal-list-radio-todos" class="w-full py-3 mt-1 ms-2 text-sm font-medium text-gray-900 ">Os
                dois</label>
            </div>
          </li>
          <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
            <div class="flex items-center ps-3">
              <input id="horizontal-list-radio-desaparecido" type="radio" value="DESAPARECIDO" [(ngModel)]="status" name="status"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
              <label for="horizontal-list-radio-desaparecido"
                class="w-full py-3 mt-1 ms-2 text-sm font-medium text-gray-900 ">DESAPARECIDO(A)</label>
            </div>
          </li>
          <li class="w-full ">
            <div class="flex items-center ps-3">
              <input id="horizontal-list-radio-localizado" type="radio" [(ngModel)]="status" value="LOCALIZADA"
                name="status" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
              <label for="horizontal-list-radio-localizado"
                class="w-full py-3 mt-1 ms-2 text-sm font-medium text-gray-900 ">LOCALIZADO(A)</label>
            </div>
          </li>
        </ul>
      </div>


      <div class="pr-5">
        <h3 class="-mb-2 font-semibold text-gray-900">Idade</h3>

        <div class="grid gap-6 mb-6 md:grid-cols-2 mt-3">
          <div>
            <input type="text" id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              type="number" [(ngModel)]="idadeInicial" placeholder="Idade mínima" />
          </div>
          <div class="px-1">
            <input type="text" id="last_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              type="number" [(ngModel)]="idadeFinal" placeholder="Idade Máxima" />
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="flex justify-end mb-2">

    <button type="button" (click)="buscaDesaparecidos()"
      class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 cursor-pointer focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ">Pesquisar</button>
  </div>



  <div class="w-full -p-4 rounded-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full ">
      @for (pessoa of listaDesaparecidos; track $index) {
      <app-card-desaparecido [desaparecido]="pessoa"></app-card-desaparecido>
      }
    </div>
    @if (listaDesaparecidos && !listaDesaparecidos.length) {
    <div class="p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50" role="alert">
      <div class="flex items-center">
        <svg class="shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <h3 class="text-lg font-medium">Nenhum item localizado!</h3>
      </div>
      <div class="mt-2 mb-4 text-sm">
        Favor realizar nova consulta mudando os parametros de pesquisa <strong>{{nome ? ', Nome: ' + nome : ''}} {{sexo
          ? ', Sexo: ' + sexo : ''}}{{status ? ', Status: ' + status : ''}}</strong>.
      </div>

    </div>
    } @else {
      <mat-paginator class="mt-2 sm:mt-4 rounded-xl border" hidePageSize [pageSize]="pageSize" [length]="length"
      showFirstLastButtons [pageIndex]="pageIndex" (page)="paginacao($event)"></mat-paginator>
    }
  </div>
</div>
